body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.custom-navbar {
  padding: 15px 0;
  background-color: #0f172a;
}

.logo-text {
  color: #fff !important;
  font-weight: 700;
  font-size: 24px;
}

.navbar-link {
  color: #fff !important;
  font-size: 18px;
  padding: 0 20px !important;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.navbar-link:hover {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: flex;
  margin-left: 15px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  transition: 0.3s;
}

.social-icon a:hover {
  background: #fff;
  color: #0f172a;
}

/* Navbar Gradient Button */
.vvd {
  background: linear-gradient(90deg, #aa367c 0%, #4a2fbd 100%);
  color: #fff;
  padding: 12px 28px;
  font-size: 18px;
  margin-left: 20px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.vvd:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.banner {
  padding: 200px 0 100px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.banner .tagline {
  font-weight: 600;
  letter-spacing: 0.8px;
  padding: 8px 16px;
  background: linear-gradient(
    90deg,
    rgba(170, 54, 124, 0.8) 0%,
    rgba(74, 47, 189, 0.8) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
}

.banner .txt {
  display: block;
  color: #ffffff;
}

.banner p {
  color: #cbd5e1;
  font-size: 18px;
  margin: 20px 0 30px 0;
  width: 80%;
}

.banner-btn {
  background: linear-gradient(90deg, #aa367c 0%, #4a2fbd 100%);
  border: none;
  color: #fff;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: 0.3s;
}

.banner-btn:hover {
  filter: brightness(1.2);
}

.banner-btn svg {
  margin-left: 10px;
  transition: 0.3s;
}

.banner-btn:hover svg {
  margin-left: 20px;
}
