.project {
  padding: 80px 0;
  background-color: #0f172a !important;
  color: #fff;
  text-align: center;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  width: 56%;
}

.project .nav-pills.mb-5 {
  width: 60%;
  margin: 0 auto 50px auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project .nav-pills .nav-item {
  width: 33.33%;
}

.project .nav-pills .nav-link {
  color: #fff !important;
  background-color: transparent !important;
  border-radius: 0;
  padding: 17px 0;
  font-weight: 600;
  font-size: 18px;
  border: none;
  transition: 0.3s ease-in-out;
}

.project .nav-pills .nav-link.active {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) !important;
  border-radius: 50px;
}

.proj-imgbx {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 24px;
  transition: 0.3s ease-in-out;
}

.proj-imgbx img {
  width: 100%;
  height: auto;
  display: block;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  opacity: 0.85;
}

.proj-txtx {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 2;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  opacity: 1;
  top: 50%;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: #fff;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: #fff;
}